<section class="registerPage center">
    <form class="form" #form="ngForm" (ngSubmit)="register(form)">
        <h2>Register</h2>
        <div class="input-box">
            <input type="email" name="email" placeholder="" id="email" ngModel #inputEmail="ngModel" required minlength="5" appEmail [ngModelOptions]="{updateOn: 'blur'}">
            <span>Email</span>
            <i class='bx bx-envelope'></i>
        </div>
        <div class="input-box">
            <input type="text" name="username" placeholder="" id="username" ngModel #inputUsername="ngModel" required minlength="4" [ngModelOptions]="{updateOn: 'blur'}">
            <span>Username</span>
            <i class='bx bx-user-circle'></i>
        </div>
        <div ngModelGroup="passwords" #passwords="ngModelGroup" appPassword>
            <div class="input-box">
                <input type="password" name="password" placeholder="" id="password" ngModel #inputPassword="ngModel" required minlength="4" [ngModelOptions]="{updateOn: 'blur'}">
                <span>Password</span>
                <i class='bx bx-lock-alt'></i>
            </div>
            <div class="input-box">
                <input type="password" name="repeatPassword" placeholder="" id="repeatPassword" ngModel #inputRepeatPassword="ngModel" required [ngModelOptions]="{updateOn: 'blur'}">
                <span>Repeat Password</span>
                <i class='bx bxs-lock-alt'></i>
            </div>
        </div>

        <button class="formBtn">Register</button>

        <!-- <div class="register-link">
            <p>Already have an account? <a routerLink="/login">Login</a></p>
        </div> -->
    </form>

    <div class="error-container">    
        <ng-container *ngIf="inputEmail.touched">
            <div class="error" *ngIf="inputEmail.errors?.['required']">
                <p>Email is required!</p>
            </div>
            
            <div class="error" *ngIf="inputEmail.errors?.['minlength']">
                <p>Email should be at least 5 characters!</p>
            </div>
            <div class="error" *ngIf="inputEmail.errors?.['incorrectEmail'] && !inputEmail.errors?.['required'] && !inputEmail.errors?.['minlength']">
                <p>Please provide a correct email!</p>
            </div>
        </ng-container>
        <ng-container *ngIf="inputUsername.touched">
            <div class="error" *ngIf="inputUsername.errors?.['required']">
                <p>Username is required!</p>
            </div>
            <div class="error" *ngIf="inputUsername.errors?.['minlength']">
                <p>Username should be at least 4 characters!</p>
            </div>
        </ng-container>
    
        <ng-container *ngIf="inputPassword.touched">
            <div class="error" *ngIf="inputPassword.errors?.['required']">
                <p>Password is required!</p>
            </div>
            <div class="error" *ngIf="inputPassword.errors?.['minlength']">
                <p>Password should be at least 4 characters!</p>
            </div>
        </ng-container>
    
        <ng-container *ngIf="inputRepeatPassword.touched">
            <div class="error" *ngIf="inputRepeatPassword.errors?.['required']">
                <p>Repeat password is required!</p>
            </div>
            <div class="error" *ngIf="passwords.errors?.['passwordsDoNotMatch']">
                <p>Passwords do not match!</p>
            </div>
        </ng-container>
    </div>
</section>