<section class="profilePage center">
<section class="profileContainer">
    <div class='userData'>
        <h2>Profile: {{userData?.username}}</h2>
        <h2></h2>
        <h3>Email: {{userData?.email}}</h3>
    
    </div>
    
    <section class="profile">
        <div class='profileButtons'>
            <button>Posted</button>
            <button class='selected'>Liked</button>
        </div>
        <article class="paintingContainer">
            <h3>nigga</h3>
            <div class="innerContainer">
                <div class="pBtnContainer">
                    <p>nigga</p>
                    <div>
                        <a class="detailsBtn" routerLink=>Details</a>
                    </div>
                </div>
                <img src="" />
            </div>
        </article>
    </section>
</section>
</section>