<section class="profilePage center">
<section class="profileContainer">
    <div class='userData'>
        <h2>Profile: {{userData?.username}}</h2>
        <h2></h2>
        <h3>Email: {{userData?.email}}</h3>
    
    </div>
    
    <section class="profile">
        <div class='profileButtons'>
            <button [ngClass]="{'selected': ownedSelected}"  (click)="getOwned()">Posted</button>
            <button [ngClass]="{'selected': likedSelected}" (click)="getLiked()">Liked</button>
        </div>
        <div class="paintingsPage1">
        <ng-container *ngIf="paintings">
        <article *ngFor="let painting of paintings" class="paintingContainer">
            <h3>{{painting.title}}</h3>
            <div class="innerContainer">
                <div class="pBtnContainer">
                    <p>{{painting.summary}}</p>
                    <div>
                        <a class="detailsBtn" routerLink='/gallery/{{painting._id}}'>Details</a>
                    </div>
                </div>
                <img src="{{painting.imageUrl}}" />
            </div>
        </article>
        </ng-container>
        <p *ngIf="!paintings">No reviews yet!</p>
        </div>
    </section>
</section>
</section>