<section class="paintingsPage">
        <article class="paintingContainer">
            <h3>The Hand</h3>
            <div class="innerContainer">
                <div class="pBtnContainer">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hello!aaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                    <div>
                        <a class="detailsBtn" href="#">Details</a>
                    </div>
                </div>
                <img src="assets/images/20240305_170240.jpg" />
            </div>
        </article>
        <article class="paintingContainer">
            <h3>The Hand</h3>
            <div class="innerContainer">
                <div class="pBtnContainer">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hello!aaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                    <div>
                        <a class="detailsBtn" routerLink="details">Details</a>
                    </div>
                </div>
                <img src="assets/images/20240305_170240.jpg" />
            </div>
        </article>
        <article class="paintingContainer">
            <h3>The Hand</h3>
            <div class="innerContainer">
                <div class="pBtnContainer">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hello!aaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                    <div>
                        <a class="detailsBtn" href="#">Details</a>
                    </div>
                </div>
                <img src="assets/images/20240305_170240.jpg" />
            </div>
        </article>
        <article class="paintingContainer">
            <h3>The Hand</h3>
            <div class="innerContainer">
                <div class="pBtnContainer">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hello!aaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                    <div>
                        <a class="detailsBtn" href="#">Details</a>
                    </div>
                </div>
                <img src="assets/images/20240305_170240.jpg" />
            </div>
        </article>
</section>