<section class="paintingsPage">
    <ng-container *ngIf="paintings">
        <article *ngFor="let painting of paintings" class="paintingContainer">
            <h3>{{painting.title}}</h3>
            <div class="innerContainer">
                <div class="pBtnContainer">
                    <p>{{painting.summary}}</p>
                    <div>
                        <a class="detailsBtn" routerLink={{painting._id}}>Details</a>
                    </div>
                </div>
                <img src={{painting.imageUrl}} />
            </div>
        </article>
    </ng-container>
    <p *ngIf="!paintings" style="font-size: 40px; text-shadow: 0 0 10px black;">No paintings yet!</p>
</section>