<section *ngIf="paintings" class="paintingsPage">
    <ng-container *ngIf="paintings">
        <article *ngFor="let painting of paintings" class="paintingContainer">
            <h3>{{painting.title | cutTextPipe:20}}</h3>
            <div class="innerContainer">
                <div class="pBtnContainer">
                    <p>{{painting.summary | cutTextPipe:80}}</p>
                    <div>
                        <a class="detailsBtn" routerLink={{painting._id}}>Details</a>
                    </div>
                </div>
                <img src={{painting.imageUrl}} />
            </div>
        </article>
    </ng-container>
    <p *ngIf="paintings?.length == 0" style="font-size: 40px; text-shadow: 0 0 10px black;">No paintings yet!</p>
</section>

<div class="spinner" *ngIf="isLoading">
    <div class="ring"></div>
    <span>loading...</span>
</div>