<main>
    <div class="row">
        <div class="col">
            <h1>Gallery</h1>
            <p>This is an online gallery app in which people can look at paintings posted by an admin</p>
            <div class="buttonContainer">
                <button type="button" (click)='buttonRedirect()'>Explore</button>
            </div>
        </div>
        <div class="col">
            <ng-container *ngIf="paintings">
            <div class="card" *ngFor="let painting of paintings" (click)="cardRedirect(painting._id)"
                style="background-image: url({{painting.imageUrl}});">
                <h4>{{painting.title}}</h4>
                <p>{{painting.summary}}</p>
                <div class="likeContainer">
                    <img src="assets/images/like.svg" />
                    <p class="likesCount">{{painting.likes?.length}}</p>
                </div>
            </div>
            </ng-container>
            <p *ngIf="!paintings || paintings.length === 0" class="noPaintings" style="font-size: 40px;">No paintings yet!</p>
        </div>
    </div>
</main>