<main>
    <div class="row">
        <div class="col">
            <h1>Gallery</h1>
            <p>Expedita fuga vitae nisi, aperiam ipsam repellendus assumenda molestiae quos, soluta perferendis cum delectus
                qui, ab officia consequatur tempora. Debitis, sed vel.</p>
            <button type="button">Explore</button>
        </div>
        <div class="col">
            <div class="card"
                style="background-image: url('https://i.pinimg.com/736x/cb/c6/62/cbc662299bd35357e519fe867444b86c.jpg');">
                <h4>The Bird</h4>
                <p>Sint pariatur, quod voluptatum optio obcaecati quasi iure, dolore numquam explicabo libero quisquam quam
                    molestias.</p>
            </div>
            <div class="card"
                style="background-image: url('https://i.pinimg.com/736x/cb/c6/62/cbc662299bd35357e519fe867444b86c.jpg');">
                <h4>The Bird</h4>
                <p>Sint pariatur, quod voluptatum optio obcaecati quasi iure, dolore numquam explicabo libero quisquam quam
                    molestias.</p>
            </div>
        </div>
    </div>
</main>