<section class="loginPage center">
    <form class="form" #form="ngForm" (ngSubmit)="login(form)">
        <h2>Login</h2>
        <div class="input-box">
            <input type="text" placeholder="" name="email" id="" ngModel #inputEmail="ngModel" required>
            <span>Email</span>
            <i class='bx bx-envelope'></i>
        </div>
        <div class="input-box">
            <input type="text" placeholder="" name="username" id="" ngModel #inputUsername="ngModel" required>
            <span>Username</span>
            <i class='bx bx-envelope'></i>
        </div>
        <div class="input-box">
            <input type="password" placeholder="" name="password" id="" ngModel #inpitPassword="ngModel" required>
            <span>Password</span>
            <i class='bx bx-lock-alt'></i>
        </div>

        <button class="formBtn">Login</button>

        <!-- <div class="register-link">
            <p>Don't have an account? <a href="/register">Register</a></p>
        </div> -->
    </form>
</section>