<section class="loginPage center">
    <form class="form" #form="ngForm" (ngSubmit)="login(form)">
        <h2>Login</h2>
        <div class="input-box">
            <input type="text" placeholder="" name="email" id="" ngModel #inputEmail="ngModel" required minlength="5" appEmail [ngModelOptions]="{updateOn: 'blur'}">
            <span>Email</span>
            <i class='bx bx-envelope'></i>
        </div>
        <div class="input-box">
            <input type="text" placeholder="" name="username" id="" ngModel #inputUsername="ngModel" required minlength="4" [ngModelOptions]="{updateOn: 'blur'}">
            <span>Username</span>
            <i class='bx bx-user-circle'></i>
        </div>
        <div class="input-box">
            <input type="password" placeholder="" name="password" id="" ngModel #inputPassword="ngModel" required minlength="4" [ngModelOptions]="{updateOn: 'blur'}">
            <span>Password</span>
            <i class='bx bx-lock-alt'></i>
        </div>

        <button class="formBtn">Login</button>

        <!-- <div class="register-link">
            <p>Don't have an account? <a href="/register">Register</a></p>
        </div> -->
    </form>

    <div class="error-container">
        <ng-container *ngIf="inputEmail.touched">
            <div class="error" *ngIf="inputEmail.errors?.['required']">
                <p>Email is required!</p>
            </div>
    
            <div class="error" *ngIf="inputEmail.errors?.['minlength']">
                <p>Email should be at least 5 characters!</p>
            </div>
            <div class="error"
                *ngIf="inputEmail.errors?.['incorrectEmail'] && !inputEmail.errors?.['required'] && !inputEmail.errors?.['minlength']">
                <p>Please provide a correct email!</p>
            </div>
        </ng-container>
        <ng-container *ngIf="inputUsername.touched">
            <div class="error" *ngIf="inputUsername.errors?.['required']">
                <p>Username is required!</p>
            </div>
            <div class="error" *ngIf="inputUsername.errors?.['minlength']">
                <p>Username should be at least 4 characters!</p>
            </div>
        </ng-container>
    
        <ng-container *ngIf="inputPassword.touched">
            <div class="error" *ngIf="inputPassword.errors?.['required']">
                <p>Password is required!</p>
            </div>
            <div class="error" *ngIf="inputPassword.errors?.['minlength']">
                <p>Password should be at least 4 characters!</p>
            </div>
        </ng-container>

        <div class="error" *ngIf="errorMsg">
            <p>{{errorMsg}}</p>
        </div>
    </div>

</section>