<header class="header">
    <a routerLink="/" class="headerLogo">Logo</a>

    <input type="checkbox" id="check">
    <label for="check" class="icons">
        <i class='bx bx-menu' id="menu-icon"></i>
        <i class='bx bx-x' id="close-icon"></i>
    </label>

    <nav class="navbar">
        <a routerLink="/" style="--i:1;">Home</a>
        <a routerLink="/gallery" style="--i:2;">Gallery</a>
        <ng-container *ngIf="!isLoggedIn">
            <a routerLink="/login" style="--i:3;">Login</a>
            <a routerLink="/register" style="--i:4;">Register</a>
        </ng-container>
        <ng-container *ngIf="isLoggedIn">
            <a routerLink="/register" style="--i:5;">Logout</a>
            <a routerLink="/add-painting" style="--i:6;">Add Painting</a>
        </ng-container>  
    </nav>
</header>
