<section class="detailsPage center">
    <article class="detailsContainer">
        <div class="headingContainer">
            <h2>The Hand</h2>
            <div>
                <p>Created on: </p>
                <p>Last updated on: </p>
            </div>
        </div>
        <div class="infoContainer">
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hello!aaaaaaaaaaaaaaaaaaaaaaaaaaaa Details
                </p>
                <div class="detailsBtnContainer">
                    <a class="detailsBtn" href="#">Like</a>
                    <a class="detailsBtn" href="#">Edit</a>
                    <a class="detailsBtn" href="#">Delete</a>
                </div>
            </div>
            <div class="imgContainer">
                <img src="./images/20240305_170240.jpg" />
                <p class="likeCount">Number of likes: 1</p>
            </div>
        </div>
    </article>
</section>