<section class="detailsPage center" *ngIf="!isLoading">
    <article class="detailsContainer">
        <div class="headingContainer">
            <h2>{{paintingDetails?.title}}</h2>
            <div>
                <p>Created on: {{paintingDetails?.createdAtTime }}</p>
                <p *ngIf="paintingDetails?.updatedAtTime">Last updated on: {{paintingDetails?.updatedAtTime}}</p>
            </div>
        </div>
        <div class="infoContainer">
            <div>
                <p>{{paintingDetails?.description}}</p>
                <div class="detailsBtnContainer">
                    <a *ngIf="!paintingDetails?.owner && isLoggedIn && !hasLiked" class="detailsBtn" href="" (click)="likePainting($event)">Like</a>
                    <p *ngIf="hasLiked">Thanks for liking!</p>
                    <ng-container *ngIf="paintingDetails?.owner">
                        <a class="detailsBtn" routerLink='edit'>Edit</a>
                        <a class="detailsBtn" href='' (click)="deletePainting($event)">Delete</a>
                    </ng-container>
                </div>
            </div>
            <div class="imgContainer">
                <img src={{paintingDetails?.imageUrl}}/>
                
            </div>
            <div class="priceAndLikes">
                <p *ngIf="paintingDetails?.likes?.length">Number of likes: {{paintingDetails?.likes?.length}}</p>
                <p *ngIf="!paintingDetails?.likes?.length">No likes yet!</p>
                <p class="price">Price: {{paintingDetails?.price}}€</p>
            </div>
        </div>
    </article>
</section>

<div class="spinner" *ngIf="isLoading">
    <div class="ring"></div>
    <span>loading...</span>
</div>