<section class="addPaintingPage center">
    <form class="form">
        <h2>Add a painting</h2>
        <div class="input-box">
            <input type="text" name="" id="" required>
            <span>Painting Name</span>
            <i class='bx bx-palette'></i>
        </div>
        <div class="input-box">
            <input type="text" name="" id="" required>
            <span>Description Summary</span>
            <i class='bx bx-dots-horizontal-rounded'></i>
        </div>
        <div class="input-box">
            <input type="text" name="" id="" required>
            <span>Description</span>
            <i class='bx bx-list-ul'></i>
        </div>
        <div class="input-box">
            <input type="text" name="" id="" required>
            <span>Image Url</span>
            <i class='bx bx-image-add'></i>
        </div>

        <button class="formBtn">Add</button>
    </form>
</section>
